@tailwind base;
@tailwind components;
@tailwind utilities;

.primary_bg_color {
  background-color: #252627;
}

.secondary_bg_color{
 background-color:#BB0A21;
}

.primary_text_color{
  color: #FFF9FB;
}

.secondary_text_color{
  color: #BB0A21;
}

.li_border{
  border: #BB0A21 1px solid ;
  padding: .5rem 1rem;
  text-align: center;
  cursor: pointer;
}

.page {
  position: ab;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.page-content {
  position: relative;
  transform: translate3d(0, 20px, 0);
  opacity: 0;
  animation: page-transition 1s ease-in-out forwards;
}

@keyframes page-transition {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  color: #BB0A21;
}

.loading_text {
  animation: loading-text 3s ease-in-out infinite;
}

@keyframes loading-text {
  0% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-10%);
  }
}





